<a href="https://colab.research.google.com/github/hmingthanzama/CS167_notes/blob/main/J_23_CS167_Collab_Tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Collab Tutorial
Jan 3, 2023

You can run Python code in Collab. Use the short cut `shift + return`

Markdown basics:
- **bold text**, also __bold text__
- *italicized*, also _italitcs_
- `typewriter text`
-[something linky](www.google.com)
  - new level of indent


---

In [1]:
x = 3 + 2
print(x)

5

In [2]:
#####
a=10
b=3.14
c = "machine learning"
d = 'hi'
e = 'x'
f = [1,2,3]
print(a,b,c,d,e,f)

10 3.14 machine learning hi x [1, 2, 3]

In [3]:
#####

print("a's type:", type(a))
a = 'variables can change types'
print("a's type:", type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))

a's type: <class 'int'>
a's type: <class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'list'>

In [4]:
#####

x = [1,2,3] 
y=x
x[0] = "abc" 
print(y) 
#before you run, what will the value of y[0] be?

['abc', 2, 3]

In [5]:
#####

z = x[1]
x[1] = "what"
print(x)
print(z)
x.append(70)
x.insert(2,90)
print(x)
#can you predict what will be output?

['abc', 'what', 3]
2
['abc', 'what', 90, 3, 70]

In [6]:
#####

print( x.index(90) )
print( len(x) )
print( x+x )
#can you predict what will be output?

2
5
['abc', 'what', 90, 3, 70, 'abc', 'what', 90, 3, 70]

In [7]:
#####
#List Slices 

my_list = [33, 55, 'hello','R2D2',7.8,'banana']
print( my_list[1:5] )
print( my_list[:4])
print( my_list[4:])
print( my_list[:])

[55, 'hello', 'R2D2', 7.8]
[33, 55, 'hello', 'R2D2']
[7.8, 'banana']
[33, 55, 'hello', 'R2D2', 7.8, 'banana']

In [8]:
#####

my_slice = my_list[1:5]
my_slice[2] = 'what'
print(my_slice)
print(my_list)
print(my_list[1:5] + 2*['Drake','University'])
my_list[:0] = ['Bulldogs']
print(my_list)
# why isn't "Drake" or "University" printed out in this last line?

[55, 'hello', 'what', 7.8]
[33, 55, 'hello', 'R2D2', 7.8, 'banana']
[55, 'hello', 'R2D2', 7.8, 'Drake', 'University', 'Drake', 'University']
['Bulldogs', 33, 55, 'hello', 'R2D2', 7.8, 'banana']

In [ ]:
#####

my_list = [42, 3.14, 'hello', ['ice', 'ice', 'baby']]
print(my_list[3][2])
print(my_list[2][1])
# wait, what? 
# explain what is happening here